/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* Custome properties */
:root {
  --clr-primary-400: hsl(31, 77%, 52%);
  --clr-secondary-500: hsl(184, 100%, 22%);
  --clr-tertiary-200: hsl(179, 100%, 13%);

  --clr-neutral-400: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-100: hsl(0, 0%, 95%);

  --ff-deca: 'Lexend Deca', sans-serif;
  --ff-bigshoulders: 'Big Shoulders Display', cursive;

  --fw-regular: 400;
  --fw-bold: 700
}

/* CSS RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

html,
body {
  height: 100%;
}

/*
  Typography tweaks!
  - Add accessibility Line-height
  - Improve text rendering
 */

 body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
 }

 /* Improve Media defaults */
 img,
 picture,
 video,
 canvas,
 svg {
  display: block;
  max-width: 100%;
 }

 /* Remove built in form typography */
 input,
 button,
 textarea,
 select {
  font: inherit;
 }

 /* Avoid text overflows */
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  overflow-wrap: break-word;
 }

 /* Utilities */

 .flex-group {
  display: flex;
 }

 /* Gemeral Styling */
 body {
  font-size: 0.875rem;
  background-color: var(--clr-neutral-100);
  display: grid;
  align-items: center;
 }

 /* Main card styling */
 .preview {
  max-width: 600px;
  margin: 0 auto;
 }

 /* Sedan Section Styling */
 .preview__sedan {
  --content-padding: 2rem;

  background-color: var(--clr-primary-400);
  height: 50vh;
  padding: var(--content-padding);
 }

 .preview__title {
  font-family: var(--ff-bigshoulders);
 }

 /* SUVS Section styling */